---
import { getCollection } from "astro:content";

// Data
const allProjects = await getCollection(`projects`);
const featuredProjects = allProjects.filter((project) => {
  return project.data.roles.includes(`featured`);
});

const sectionTitle = "Portfolio";
const sectionSubtitle = "Proof of what's coming";
const sectionText =
  "Every project at Vyteca is held to one standard: does this fill tables? These sites represent the design craft, performance, and attention to detail you can expect from day one. The benchmark is set. Yours is next.";
const sectionTitleId = "portfolio";

const { fadeIn } = Astro.props;

// Components
import PortfolioCard from "../ui/PortfolioCard.astro";
import SectionHeader from "../ui/SectionHeader.astro";
---

<section class="portfolio | grid-main" aria-labelledby={sectionTitleId}>
  <SectionHeader
    title={sectionTitle}
    subtitle={sectionSubtitle}
    supportingText={sectionText}
    titleTag="h2"
    titleId={sectionTitleId}
    fadeIn={fadeIn}
    class="portfolio__header"
  />
  <ul class="portfolio__grid">
    {
      featuredProjects.map(({ data }, i) => (
        <PortfolioCard
          title={data.title}
          imgSrc={data.imgSrc}
          text={data.text}
          websiteHref={data.websiteHref}
        />
      ))
    }
  </ul>

  <style>
    .portfolio__grid {
      display: grid;
      gap: 48px;
      margin-block-start: 48px;
      padding-inline: 15px;
    }

    @media (min-width: 40rem) {
      .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .portfolio__header {
      p {
        max-width: 75ch;
        margin-inline: auto;
      }
    }

    @media (min-width: 62.5rem) {
      .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);
      }

      .portfolio__header {
        p {
          margin-block-start: var(--spacing-lg);
        }
      }
    }

    @media (min-width: 90rem) {
      .portfolio__grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  </style>
</section>
